<div layout="row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1 brand-background">
            <!--<h1>Users</h1>-->
        </md-toolbar>

        <md-list>
            <md-list-item layout-padding>

                <img src="../../../../../Content/icon/logo.jpg" />
                <md-divider></md-divider>

            </md-list-item>

            <md-list-item layout="row" layout-align="start center">
                <!--ng-md-icon icon="home" style="fill:silver" size="30" flex="20"></ng-md-icon>-->
                <a ui-sref="cuisine.list">
                    <md-button>

                        <span class="list-text">Manage Cuisines</span>

                    </md-button>
                </a>

                <md-divider></md-divider>
            </md-list-item>

            <md-list-item>

                <a ui-sref="category.list">
                    <md-button>
           
                            <!--<ng-md-icon icon="people" style="fill:silver" size="30" flex="20"></ng-md-icon>-->

                                <span class="list-text">Manage Categories</span>

         
                 
                    </md-button>
                </a>

                <md-divider></md-divider>
            </md-list-item>
            
     
            <md-list-item layout="row">

                <a ui-sref="meal.list">
                    <md-button>

                        <!--<ng-md-icon icon="person" style="fill:silver" size="30" flex="20"></ng-md-icon>-->

                        <span class="list-text" flex>Manage Meals </span>


                    </md-button>
                </a>

                <md-divider></md-divider>
            </md-list-item>
               <md-list-item>

                <a ui-sref="ingredient.list">
                    <md-button>
           
                            <!--<ng-md-icon icon="people" style="fill:silver" size="30" flex="20"></ng-md-icon>-->

                                <span class="list-text">Manage Ingridients</span>

         
                 
                    </md-button>
                </a>

                <md-divider></md-divider>
            </md-list-item>
            <md-list-item layout="row">
                <a ui-sref="agent.list">
                    <md-button>

                        <!--<ng-md-icon icon="settings" style="fill:silver" size="30" flex="20"></ng-md-icon>-->
                        <span class="list-text">Account Settings</span>

                    </md-button>
                </a>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <a id="logOff" role="menuitem" tabindex="-1" href="/Account/LogOff">
                 
                    <form id="logOutForm" method="post" action="/Account/LogOff">
                        <md-button>

                            <!--<ng-md-icon icon="person" style="fill:silver" size="30" flex="20"></ng-md-icon>-->

                            <span class="list-text" flex>   Sign Out </span>


                        </md-button>
                    </form>
                </a>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <!--<div flex layout="column" tabindex="-1" role="main" class="md-whiteframe-z2">-->
        <div flex layout="column" tabindex="-1" role="main" class="md-whiteframe-z2-xxxxxxxx">

            <md-toolbar layout="row" class="md-whiteframe-z1 brand-background">
                <md-button class="menu" hide-gt-sm ng-click="controllerActions.toggleNav()" aria-label="Show User List">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <!--<h1>Angular Material - Starter App</h1>-->
            </md-toolbar>

            <md-content flex id="content">

                <div ui-view="view-container"></div>

            </md-content>

        </div>
    </div>
