<!DOCTYPE html>
html
	head
		title=title
		link(rel='stylesheet',href='/stylesheets/style.css')
		link(rel='stylesheet',href='/javascripts/bower_components/angular-material/angular-material.css')
	body
		block content
		// script(src="/javascripts/bower_components/angular/angular.min.js")
		script(data-main="/javascripts/app/admin/infra/dependencies",src="/javascripts/libs/require.js")

